<nav class="navbar navbar-dark bg-info">
    <h1 class="m-auto navbar-brand fz-2">@Title</h1>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/addmachine">
            <span class="oi" aria-hidden="true"></span>Lägg till
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/">
            <span class="oi" aria-hidden="true"></span>Maskinlista
        </NavLink>
    </div>
</nav>


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
}
